
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

image{
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.home,
.profile,
.UserLogin,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.img-bg{
  background: url('./components/Images/Coffe.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .img-bg {
    left: 50%;
    /* margin-left: -512px;    */
    /* 50% */
  }
}
/* .UserLogin{
  background-color: black;
} */

/* .profile{
  background: url('./components/Images/Coffe.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
} */
